h1,
h2,
h3,
p,
nav ul {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter", sans-serif;
    font-style: normal;
}

header {
    text-align: center;
    margin-top: 20px;
}

header p {
    margin-top: 5px;
    font-weight: 400;
}

.dashboard {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
    width: 90%;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
}

article:nth-child(even) {
    background-color: white;
    color: #000000;
}

article:nth-child(odd) {
    background-color: rgb(152, 152, 157);
    color: white;
}


article {
    padding: 20px;
    border: 2px solid rgb(152, 152, 157);
    border-radius: 20px;
}

h2 {
    padding-top: 10px;
    text-align: center;
}